<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!--Favicon-->
    <link rel="icon" type="image/svg" href="../static/images/whiteLogo.svg">

    <!--Headder-->
    <header class="header">
        <div class="headerInner">
            <!--Page Title-->
            <h1 class="headerText">
                {% block pagetitle %}
                Metrics & Graphs
                {% endblock %}
            </h1>

            <!--Buttons for nav-->
            <div class="buttonBar">
                <a href="/">
                    <button class="headerButton">Main</button>
                </a>

                <a href="/historical-data">
                    <button class="headerButton">Historical</button>
                </a>

                <a href="/upload">
                    <button class="headerButton">Upload</button>
                </a>
            </div>
        </div>
    </header>

    {% block content %}
    <!-- Tables -->
    <div class="tableDisplay">
        <h3 class="tableTitle">INCOME | All Credits to Account</h3>
        <div class="table">
            {{ sampT5CD | safe }}
        </div>
    </div>
    
    <div class="tableDisplay">
        <h3 class="tableTitle">EXPENSES | Top 5 Decending</h3>
        <div class="table">
            {{ sampT5DD | safe }}
        </div>
    </div>
    {% endblock %}
</body>
</html>