<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page with style</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!--Header-->
    <div class="header">
        <h1 class="headerText">Smith</h1>
        <img src="{{ url_for('static', filename='images/whiteLogo.svg') }}" id="headerLogo" alt="Logo">
        <h1 class="headerText">Money</h1>
    </div>

    <!--Tables-->
    <!--Side by Side Tables-->
    <div class="multipleTable">
        <div class="tableDisplay">
            <h3 class="tableTitle">Top 5 Debits Decending</h3>
            <div class="table">
                {{ sampT5DD | safe }}
            </div>
        </div>
        <div class="tableDisplay">
            <h3 class="tableTitle">Top 5 Credits Decending</h3>
            <div class="table">
                {{ sampT5CD | safe }}
            </div>
        </div>
    </div>

    <!--RAW Data-->
    <div class="tableDisplay">
        <h3 class="tableTitle">All Data Unfiltered</h3>
        <div class="table">
            {{ samp | safe }}
        </div>
    </div>
</body>
</html>