<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page with style</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <h1 class="headerText">Ashton's</h1>
        <img src="{{ url_for('static', filename='images/whiteLogo.svg') }}" id="headerLogo" alt="Logo">
        <h1 class="headerText">Finances</h1>
    </div>

    <div class="tableHolder">
        {{ sampT5DD | safe }}
    </div>

    <div class="tableHolder">
        {{ sampT5CD | safe }}
    </div>

    <div class="tableHolder">
        {{ samp | safe }}
    </div>
</body>
</html>